.navigation {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 3px;
    margin-top: 2%;
    margin-bottom: 10%;
}